body {
    min-width: 1200px;
}

a,
body {
    color: #55575a;
}

a,
img,
input {
    border: none
}

.right-cont .btn-groups a:hover,
.right-cont .search-btn:hover,
.right-cont .upload-pic:hover,
a {
    text-decoration: none
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: Microsoft YaHei;
    font-size: 12px
}

body {
    line-height: 1.5;
    background: #fff
}

dl,
ol,
ul {
    list-style-type: none
}

a:hover {
    color: #079e75
}

a,
img {
    vertical-align: baseline
}

table {
    border-collapse: collapse
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0
}

textarea,
#cke_ckeditor {
    width: 450px!important;
}

i {
    font-style: normal
}

.fl {
    float: left
}

.fr {
    float: right
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.pa {
    position: absolute
}

.pr {
    position: relative
}

.inline-block {
    display: inline-block
}

.block {
    display: block
}

.header,
.nav-menu .nav li a {
    color: #fff
}

.dropdown {
    list-style: none;
}

.dropdown span {
    color: #fff
}

.caret {
    border-top: 4px dashed #fff!important
}

/* 侧边菜单 */
.header,
.nav-menu .nav li a {
    color: #fff
}

.dropdown {
    list-style: none;
}

.dropdown span {
    color: #fff
}

.caret {
    border-top: 4px dashed #fff!important
}


/* 侧边菜单 */

.nav-menu {
    width: 170px;
    float: left;
    background: #333744;
    /*min-height: 100%;*/
    position: absolute;
}

.nav-menu div ul {
    overflow: hidden;
    display: none;
    height: auto;
}

.nav-menu .open {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 6px solid transparent;
}

.nav-menu .close {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #fff;
}

/*.nav-menu span {
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    margin: 1px 0;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
}

.nav-menu span:hover {
    background: #00c897;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.nav-menu a:hover {
    text-decoration: none;
    color: #fff
}*/

.btn {
    height: 30px;
    margin-top: 10px;
    border-bottom: 1px solid #CCC;
}

.right-cont {
    margin-left: 170px;
    height: 100%;
    position: relative;
    text-align: center
}

.upload-file {
    color: #c45b5b;
    float: left;
    font-size: 12px;
    margin-left: 19%;
    width: 100%;
    text-align: left;
    border-top: 1px solid #d9dee4;
    padding-top: 20px;
}

.upload-file:hover {
    text-decoration: none;
    color: #c45b5b;
}

.upload-file .upload-tit {
    background: url('../images/upload-btn.png') no-repeat;
    height: 12px;
    width: 12px;
    vertical-align: middle;
    margin-right: 5px;
}

.doc-area {
    margin-left: 19%;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #d9dee4;
    padding-bottom: 20px;
}

.doc-area .delete-doc {
    color: #00a17a;
    cursor: pointer;
    margin-left: 20px;
}

.doc-area li {
    margin-top: 10px;
}

.btn-down,
.shopdowm {
    position: absolute;
    right: 5px;
    top: 12px;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #333744;
    cursor: pointer;
}

.select-inp {
    width: 140px;
    height: 34px;
    border: 1px solid #ccc;
    text-indent: 10px;
    margin-left: 15px;
    border-radius: 3px;
}

.down-menu .menu {
    display: none;
    width: 140px;
    border: 1px solid #dedede;
    border-top: 0;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    max-height: 295px;
    overflow-y: auto;
    margin-left: 15px;
}

.down-menu .menu ul li {
    padding: 7px 15px;
    cursor: pointer;
    font-size: 12px;
}

.down-menu .menu ul li:hover {
    background-color: #f5faf9;
}

.down-menu .menu ul .cur {
    background-color: #f5faf9;
}

.radio-group .ui-radio+.field-label:after,
.radio-group .ui-radio+.field-label:before,
.radio-group .ui-radio:checked+.field-label:after,
.radio-group .ui-radio:checked+.field-label:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute
}

.form-horizontal .form-group {
    margin-bottom: 30px
}

.radio-group {
    top: 7px;
    margin: 0 20px 0 15px
}

.radio-group .ui-radio {
    clip: rect(0 0 0 0);
    position: absolute;
    vertical-align: middle
}

.radio-group .ui-radio+.field-label {
    cursor: pointer;
    padding-left: 20px
}

.radio-group .ui-radio+.field-label:after,
.radio-group .ui-radio+.field-label:before {
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    left: 0;
    top: 0;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    margin-right: 10px
}

.radio-group .ui-radio:checked+.field-label:before {
    left: 0;
    top: 0
}

.radio-group .ui-radio:checked+.field-label:after {
    border: 4px solid #42a6d4;
    box-sizing: border-box
}

.header {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: #373d41;
    font-size: 16px;
    font-family: 'microsoft yahei'
}

.header .logo {
    text-align: left
}

.right-cont {
    padding: 0 20px
}

.right-cont .right-nav {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #d9dee4
}

.right-cont .right-nav span {
    color: #999;
    font-size: 12px;
    margin: 0 10px
}

.right-cont .add-btn {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #42a6d4;
    color: #fff;
    margin-top: 10px;
}

.right-cont .right-nav .add-btn:hover {
    text-decoration: none;
    background: #00c897
}

.right-cont .search-cont .input-group-addon {
    width: 35px;
    float: left;
    background: #fff
}

.right-cont .table {
    border: 1px solid #d9dee4;
    margin-bottom: 0;
}

.right-cont .table td {
    line-height: 40px;
    color: #333
}

.right-cont .table td span {
    font-weight: 400
}

.right-cont .table tr {
    height: 40px;
    line-height: 40px
}

.right-cont .table th {
    background: #f5faf9;
    height: 30px;
    line-height: 30px;
    color: #999
}

.right-cont .table a {
    color: #42a6d4!important
}

.right-cont .table a:hover {
    color: #079e75!important
}

.right-cont .table .detail-btn {
    margin-right: 10px;
}

.right-cont .search-cont {
    width: 100%;
    padding: 20px 0
}

.right-cont .search-cont .col-sm-10 {
    padding-left: 0;
    width: 140px;
    margin-right: 8px
}

.right-cont .search-cont .form-control {
    width: 105px
}

.right-cont .search-cont .title {
    width: 180px;
}

.right-cont .search-cont span {
    width: 65px;
    padding: 0;
    line-height: 31px;
    font-size: 12px;
}

.right-cont .search-cont .tit-span {
    width: 38px;
    margin-left: 12px;
}

.right-cont .search-cont .until {
    width: 30px
}

.right-cont .search-btn {
    width: 80px;
    height: 33px;
    line-height: 33px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    margin-left: 10px
}

.right-cont .delete-article {
    width: 80px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    margin-left: 10px;
    background: #fff;
}

.right-cont .article-img img {
    width: 40px;
    height: 40px;
}

.right-cont .search-btn:hover {
    background: #fff;
    color: #333
}

.right-cont .alert-cont,
.detail-cont,
.add-cont {
    display: none
}

.right-cont .tit-input {
    width: 450px
}

.right-cont .form-horizontal {
    width: 550px
}
.article-list .form-horizontal{
min-width: 80%;
}
.right-cont .status-select {
    text-align: left
}

.right-cont .textarea {
    margin-left: 15px;
    resize: none
}

.right-cont .btn-groups {
    width: 100%;
    text-align: left;
    padding-left: 18%;
}

.right-cont .btn-groups a {
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center
}

.right-cont .btn-groups .submit-btn {
    background: #42a6d4;
    color: #fff;
    margin-right: 10px
}

.right-cont .btn-groups .back-btn {
    border: 1px solid #ccc;
    color: #333
}

.right-cont .upload-btn {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none
}

.right-cont .upload-pic {
    width: 80px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background: #42485b;
    right: 118px;
    top: 0;
}

.right-cont .upload-pic:hover {
    background: #333744
}

.right-cont .upload-hide {
    width: 80px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    top: 0;
    outline: 0;
    opacity: 0;
    color: #fff;
    cursor: pointer;
}

.right-cont .delete-btn {
    display: none;
    color: #00c897;
    line-height: 34px
}

.back-prev {
    color: #00C897;
}

.back-prev:hover {
    color: #00C897;
}

.right-cont .file-name {
    height: 34px;
    line-height: 34px;
    width: 250px;
    margin-left: 10px
}
/*案例库样式*/
.case-imgs{
    margin-left: 19%;
}
.case-imgs li{
    margin-right: 10px;
}
.case-label{
    width: 100%!important;
    text-align: left!important;
    padding-left: 10%!important;
    margin-bottom: 10px!important;
}
.case-label span{
    font-size: 12px;
    color: #999;
    margin-left: 20px;
}


/*分页*/

.page-cont {
    background: #F5FAF9;
    height: 60px;
    line-height: 60px;
}

.page-mesg {
    color: #999;
    padding-left: 20px
}

.laypage_main {
    text-align: right;
    background: #f5faf9;
    height: 60px;
    border: 1px solid #d9dee4;
    padding-top: 15px
}

.datetimepicker {
    min-width: 225px!important
}

.form-control[readonly] {
    background: #fff!important
}

.cur {
    background: #00c897
}

.cover-pic {
    width: 40px;
    height: 40px;
}

.right-cont .details {
    border: 1px solid #d9dee4;
}

.details .detail-item {
    margin: 0 auto;
    max-width: 690px;
    padding: 20px 0;
}

.detail-item .intro-tit {
    font-size: 19px;
    line-height: 60px;
    color: #373d41;
}

.detail-item .tit-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9dee4;
    text-align: left;
}

.img-item img {
    width: 690px;
    height: 390px;
}

.details .date-author {
    font-size: 12px;
    color: #979797
}
.doc-case-tit{
    color: #2f3941;
    font-size: 14px;
    }
.date-author span {
    margin-right: 20px;
}

.details p {
    font-size: 16px;
    text-align: left;
}

.details .case-item li img {
    width: 70px;
    height: 45px;
    margin:10px 10px 0 0;
}

.details .document-item li {
    margin-top: 20px;
}

.details .document-item li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.details .document a {
    display: inline-block;
}

.alert-cont .caseimg img {
    width: 140px;
    height: 90px;
}




/*小知识分类*/

.category {
    float: left;
    text-align: left;
}
.disabled-type{
    color: #c2c2c2
}
.tree-icon {
    display: none;
}

.tree-title {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    color: #555;
}

.tree-node-hover {
    background: #eee
}

.tree li {
    margin-top: 7px;
}

.tree-node-selected {
    background: #eee;
    color: #00c897
}

.tree-node-selected input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    outline: 0;
    padding-top: 4px;
}

.type-optbtn {
    width: 100%;
    text-align: left;
}

.add-category {
    height: 30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background: #00c897;
    color: #fff;
    margin-right: 10px;
}

.disabled {
    background: #999;
    color: #fff;
    cursor: not-allowed;
    height: 30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}

.disabled:hover {
    text-decoration: none;
    color: #fff;
}

.add-category:hover {
    text-decoration: none;
    color: #fff;
    background: #079e75;
}

.delete-type:hover {
    text-decoration: none;
    color: #333;
    background: #fff;
}

.delete-type {
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background: #f7f7f7;
}

.article-list .bannerimg-area{
    margin-left: 19%;
}


/*banner管理*/

.bannerimg-area {
    width: 370px!important;
    height: 140px;
    background: #f2f2f2;
}

.upload-img-btn {
    width: 135px!important;
    height: 90px;
    background: #f2f2f2;
    margin-right: 10px;
}


.bannerimg-area #img_area img {
    height: 140px;
}

.upload-banner {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
    border-radius: 50%;
    color: #fff;
    background: #42a6d4;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
}

.i-delete {
    background: url('../images/tit-delete.png') no-repeat;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    background-size: 100%;
    cursor: pointer;
}




#banner-picture {
    background: none
}

.upload-banner:hover {
    text-decoration: none;
    color: #fff;
}



/*消息提示*/

.pop {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, .5);*/
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    opacity=0.5;
    filter: alpha(opacity=50);
}

.i-ok {
    background: url('../images/tip_ok.png') no-repeat;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.i-no {
    background: url('../images/tip_no.png') no-repeat;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.pop-cont {
    width: 180px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.edui-editor {
    z-index: 1!important;
}