<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        文章管理
    </title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="content-manage.css">
    <link rel="stylesheet" href="../styl/bootstrap.min.css" />
    <link rel="stylesheet" href="../styl/bootstrap-datetimepicker.min.css">
    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
     <script type="text/javascript" charset="utf-8" src="../js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/laypage.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-datetimepicker.min.js"></script>
    
    <style type="text/css">
    	.right-cont .add-btn {margin-top: 0px;}
    	.right-cont .search-cont span { line-height: 30px;}
    </style>
</head>

<body>
    <header>
        <div class="header clearfix contents">
            <img src="../images/logo_content.png" />
            <li class="dropdown fr">
                <span class="username"></span>
                <a href="javascript:;" id="logout">退出</a>
            </li>
        </div>
    </header>
    <div id="menuTree" class="nav-menu"></div>
    <script type="text/javascript">
	     getMenu("875593547210186752","879535473533849600"); 
	     logout()
	 </script>
    <div class="right-cont article-list" id="articleCont">
        <div class="table-cont">
            <div class="right-nav">
                <span class="fl">当前位置:</span>
                <ol class="breadcrumb fl">
                    <li>首页</li>
                    <li>文章管理</li>
                </ol>
            </div>
            <div class="search-cont fl clearfix">
                <a href="javascript:;" class="add-btn inline-block fl">添加知识</a>
                <a href="javascript:;" class="inline-block delete-article fl" @click="deleteConfirm()">删除知识</a>
                <div class="fr">
                    <span class="col-sm-2 control-label">发布日期</span>
                    <div class="form-group fl">
                        <div class='input-group date'>
                            <input type='text' class="form-control" readonly id='starttime' onchange="setstartdate(this.value)" />
                            <span class="input-group-addon sttime">
                                      <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <span class="fl until">至</span>
                    <div class="form-group fl">
                        <div class='input-group date'>
                            <input type='text' class="form-control" id='endtime' readonly/>
                            <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group fl">
                        <span class="col-sm-2 control-label tit-span">标题</span>
                        <input type="text" class="form-control title" placeholder="请输入关键字" />
                    </div>
                    <a href="javascript:;" class="search-btn inline-block fl" @click="query()">搜索</a>
                </div>
            </div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="checkth">
                            <input type="checkbox" id="checkAll" name="checkAll" />
                        </th>
                        <th>标题</th>
                        <th>封面</th>
                        <th>分类</th>
                        <th>知识编号</th>
                        <th>状态</th>
                        <th>是否热点</th>
                        <th>发布时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <template v-if="articleList">
                    <tbody id="person-list">
                        <template v-for="item in articleList">
                            <tr>
                                <td>
                                    <input type="checkbox" name="checkItem" class="checkitem" />
                                </td>
                                <td>{{item.title}}</td>
                                <td class="article-img"><img :src="item.image" alt="" /></td>
                                <td>{{item.categoryPath}}</td>
                                <td class="listid">{{item.id}}</td>
                                <td><span class="label label-success">{{item.postStatus.code=='0'?'有效':'无效'}}</span></td>
                                <td>{{item.isHot.name}}</td>
                                <td>{{item.postDate}}</td>
                                <td><a href="javascript:;" class="detail-btn" @click="goDetail(item.id)">详情</a><a href="javascript:;" class="alert-btn" @click="alertArticle(item.id,item.postStatus.code,item.isHot.code)">修改</a></td>
                            </tr>
                        </template>
                    </tbody>
                </template>
            </table>
            <!-- @click="deleteArticle()" -->
            <template v-if="pagenum!=null&&totalpage!=null">
                <div class="page-cont pr">
                    <div class="pa page-mesg"><span>第{{pagenum}}页</span>,<span>共{{totalpage}}页</span><span>(每页10条)</span></div>
                    <div id="pageNumber"></div>
                </div>
            </template>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary" @click="deleteArticle()">
                            确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--添加知识-->
        <div class="add-cont">
            <div class="right-nav clearfix">
                <span class="fl">当前位置:</span>
                <ol class="breadcrumb fl">
                    <li>首页</li>
                    <li><a href="content-manage.html" class="back-prev">内容管理</a></li>
                    <li class="active">添加知识</li>
                </ol>
            </div>
            <form class="form-horizontal clearfix" role="form">
                <br>
                <div class="form-group status-select">
                    <span class="col-sm-2 control-label">是否设为热点:</span>
                    <label class="radio-group pr">
                        <input type="radio" name="type" value="0" class="pa ui-radio" v-model="addparam.isHot" /><span class="field-label">是</span>
                    </label>
                    <label class="radio-group pr">
                        <input type="radio" name="type" value="1" class="pa ui-radio" v-model="addparam.isHot" /><span class="field-label">否</span>
                    </label>
                </div>
                <div class="form-group">
                    <span for="name" class="col-sm-2 control-label">*标题:</span>
                    <div class="col-sm-10">
                        <input type="text" class="form-control tit-input" placeholder="请输入标题" v-model="addparam.title">
                    </div>
                </div>
                <div class="form-group">
                    <span for="name" class="col-sm-2 control-label">摘要:</span>
                    <div class="col-sm-10">
                        <input type="text" class="form-control tit-input" placeholder="请输入文章摘要,最多20字" v-model="addparam.summary" maxlength="20">
                    </div>
                </div>
                <div class="form-group addSecbigarea addbigarea">
                    <span class="col-sm-2 control-label">*所属分类:</span>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="一级分类" v-model="firstcategory" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addfirstcategory">
                                    <li data-id="item.id" @click="searchSecondCategory(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="二级分类" v-model="secondcategory" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addsecondcategory">
                                    <li data-id="item.id" @click="searchThirdCategory(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="三级分类" v-model="thirdcategory" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addthirdcategory">
                                    <li data-id="item.id" @click="chooseThirdCategory(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">
                    <p for="name" class="col-sm-2 control-label  case-label">上传封面: <span>建议尺寸388*240（png/jpg格式）,只需上传一张</span></p>
                    <script id="coverimg" type="text/plain"></script>
                    <div class="col-sm-10 clearfix pr bannerimg-area">
                        <template v-if="addcoverimg!=''">
                            <img :src="addcoverimg" alt="" style="width: 370px;height: 140px;" />
                        </template>
                        <a class="upload-banner inline-block pa" href="javascript:void(0);" onclick="openImgDialog();">+</a>
                    </div>
                </div>-->
                <div class="form-group">
                    <span for="name" class="col-sm-2 control-label">内容:</span>
                    <div class="col-sm-10">
                        <script id="addcontent" type="text/plain" style="width:800px;height:260px;"></script>
                    </div>
                </div>
                <div class="form-group">
                    <p for="name" class="col-sm-2 control-label case-label">案例库: <span>不超过2M,建议长宽小于1000x1000（png/jpg格式）</span> </p>
                    <script id="caseimg" type="text/plain"></script>
                    <div class="case-imgs">
                        <div class="col-sm-10 clearfix pr upload-img-btn fl">
                            <a class="upload-banner inline-block pa" href="javascript:void(0);" onclick="opencaseDialog();">+</a>
                        </div>
                        <template v-if="addcaseimg">
                            <ul>
                                <template v-for="item in addcaseimg">
                                    <li class="fl pr">
                                        <img :src="item.file" alt="" style="width: 135px;height: 90px;" />
                                        <i class="inline-block i-delete pa" @click="deleteCaseImg(item)"></i>
                                    </li>
                                </template>
                            </ul>
                        </template>
                    </div>
                </div>
                <div class="form-group">
                    <a href="javascript:void(0);" onclick="upFiles();" class="upload-file"><i class="upload-tit inline-block"></i>点击上传附件</a>
                    <script type="text/plain" id="upload_file"></script>
                    <div class="doc-area fl">
                        <template v-for="item in uploadfilelist">
                            <ul>
                                <li>
                                    <a :href="item.file">{{item.fileName}}</a>
                                    <span class="delete-doc" @click="deleteDocument(item)">删除</span>
                                </li>
                            </ul>
                        </template>
                    </div>
                </div>
                <div class="form-group status-select">
                    <span class="col-sm-2 control-label">知识状态:</span>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="0" class="pa ui-radio" v-model="addparam.postStatus" /><span class="field-label">有效</span>
                    </label>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="1" class="pa ui-radio" v-model="addparam.postStatus" /><span class="field-label">禁用</span>
                    </label>
                </div>
                <div class="btn-groups fl">
                    <a href="javascript:;" class="submit-btn inline-block" @click="addArticle()">提交</a>
                    <a href="#" class="back-btn inline-block">返回</a>
                </div>
            </form>
        </div>
        <!-- 修改小知识 -->
        <div class="alert-cont">
            <div class="right-nav clearfix">
                <span class="fl">当前位置:</span>
                <ol class="breadcrumb fl">
                    <li>首页</li>
                    <li><a href="content-manage.html" class="back-prev">内容管理</a></li>
                    <li class="active">修改知识</li>
                </ol>
            </div>
            <form class="form-horizontal clearfix" role="form">
                <br>
                <div class="form-group">
                    <span for="name" class="col-sm-2 control-label">知识编号:</span>
                    <div class="col-sm-10">
                        <input type="text" class="form-control tit-input" placeholder="请输入编号" v-model="articleDetail.id" readonly="">
                    </div>
                </div>
                <div class="form-group status-select">
                    <span class="col-sm-2 control-label">是否设为热点:</span>
                    <label class="radio-group pr">
                        <input type="radio" name="type" value="0" class="pa ui-radio" v-model="addparam.isHot" /><span class="field-label">是</span>
                    </label>
                    <label class="radio-group pr">
                        <input type="radio" name="type" value="1" class="pa ui-radio" v-model="addparam.isHot" /><span class="field-label">否</span>
                    </label>
                </div>
                <div class="form-group">
                    <span for="name" class="col-sm-2 control-label">*标题:</span>
                    <div class="col-sm-10">
                        <input type="text" class="form-control tit-input" placeholder="请输入标题" v-model="alertdetailtitle">
                    </div>
                </div>
                <div class="form-group">
                    <span for="name" class="col-sm-2 control-label">摘要:</span>
                    <div class="col-sm-10">
                        <input type="text" class="form-control tit-input" placeholder="请输入文章摘要,最多20字" v-model="alertdetailsummary" maxlength="20">
                    </div>
                </div>
                <div class="form-group addSecbigarea addbigarea">
                    <span class="col-sm-2 control-label">*所属分类:</span>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="一级分类" v-model="firstcategory" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addfirstcategory">
                                    <li data-id="item.id" @click="searchSecondCategory(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="二级分类" v-model="secondcategory" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addsecondcategory">
                                    <li data-id="item.id" @click="searchThirdCategory(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="三级分类" v-model="thirdcategory" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addthirdcategory">
                                    <li data-id="item.id" @click="chooseThirdCategory(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p for="name" class="col-sm-2 control-label case-label">*上传封面(只取第一张图片):</p>
                    <script id="alertcoverimg" type="text/plain"></script>
                    <div class="col-sm-10 clearfix pr bannerimg-area">
                        <img :src="addcoverimg" alt="" style="width: 370px;height: 140px;" />
                        <a class="upload-banner inline-block pa" href="javascript:void(0);" onclick="alertImgDialog();">+</a>
                        <p>建议尺寸388*240（png/jpg格式）</p>
                    </div>
                </div>
                <div class="form-group">
                    <span for="name" class="col-sm-2 control-label">内容:</span>
                    <div class="col-sm-10">
                        <script id="alertcontent" type="text/plain" style="width:800px;height:260px;"></script>
                    </div>
                </div>
                <div class="form-group">
                    <p for="name" class="col-sm-2 control-label case-label">案例库: <span>不超过2M,建议长宽小于1000x1000（png/jpg格式）</span> </p>
                    <script id="alertcaseimg" type="text/plain"></script>
                    <div class="case-imgs">
                        <div class="col-sm-10 clearfix pr upload-img-btn fl">
                            <a class="upload-banner inline-block pa" href="javascript:void(0);" onclick="alertCaseDialog();">+</a>
                        </div>
                        <template v-if="addcaseimg">
                            <ul class="caseimg">
                                <template v-for="item in addcaseimg">
                                    <li class="fl pr alertcase-item">
                                        <img :src="item.file" alt="" />
                                        <i class="inline-block i-delete pa" @click="deleteCaseImg(item)"></i>
                                    </li>
                                </template>
                            </ul>
                        </template>
                    </div>
                </div>
                <div class="form-group">
                    <a href="javascript:void(0);" onclick="alertupFiles();" class="upload-file"><i class="upload-tit inline-block"></i>点击上传附件</a>
                    <script type="text/plain" id="alertupload_file"></script>
                    <div class="doc-area fl">
                        <ul>
                            <template v-for="item in uploadfilelist">
                                <li class="document">
                                    <a :href="item.file">{{item.fileName}}</a>
                                    <span class="delete-doc" @click="deleteDocument(item)">删除</span>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
                <div class="form-group status-select">
                    <span class="col-sm-2 control-label">知识状态:</span>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="0" class="pa ui-radio" v-model="addparam.postStatus" /><span class="field-label">有效</span>
                    </label>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="1" class="pa ui-radio" v-model="addparam.postStatus" /><span class="field-label">禁用</span>
                    </label>
                </div>
                <div class="btn-groups fl">
                    <a href="javascript:;" class="submit-btn inline-block" @click="alertArticleDetail()">提交</a>
                    <a href="javascript:;" class="back-btn inline-block">返回</a>
                </div>
            </form>
        </div>
        <div class="detail-cont">
            <div class="right-nav">
                <span class="fl">当前位置:</span>
                <ol class="breadcrumb fl">
                    <li>首页</li>
                    <li> <a href="content-manage.html" class="back-prev">内容管理</a></li>
                    <li class="active">详情</li>
                </ol>
            </div>
            <template v-if="articleDetail">
                <div class="details">
                    <div class="detail-item">
                        <div class="clearfix tit-item">
                            <span class="intro-tit">{{articleDetail.title}}</span>
                            <p class="date-author"><span>{{articleDetail.postAuther}}</span><span>{{articleDetail.postDate}}</span></p>
                        </div>
                        <template v-if="articleDetail.image">
                            <div class="tit-item img-item"> <img :src="articleDetail.image" alt="" class="fl"></div>
                        </template>
                        <template v-if="articleDetail.content">
                            <div class="tit-item" v-html="articleDetail.content"></div>
                        </template>
                        <div class="tit-item case-item clearfix">
                            <span class="doc-case-tit">案例库</span>
                            <ul>
                                <template v-for="item in articleDetail.cases">
                                    <li class="fl">
                                        <img :src="item.file" alt="" />
                                    </li>
                                </template>
                            </ul>
                        </div>
                        <div class="tit-item document-item">
                            <span class="doc-case-tit">附件</span>
                            <ul>
                                <template v-for="item in uploadfilelist">
                                    <li class="document">
                                        <img src="../images/doctype.png" alt="" /><a :href="item.file">{{item.fileName}}</a>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <!-- 消息提示 -->
    <div class="pop" style="display: none;">
        <div class="pop-cont"></div>
    </div>
    <!--<script type="text/javascript" charset="utf-8" src="../js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/ueditor/ueditor.all.min.js"></script>-->
    <!--<script src="../js/common.js"></script>-->
    <!--<script type="text/javascript" charset="utf-8" src="../js/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="../js/laypage.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-datetimepicker.min.js"></script>
    <script src="content-manage.js"></script>-->
    <script src="content-manage.js"></script>
</body>

</html>