<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>区域管理</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="area-manage.css">
    <link rel="stylesheet" href="../styl/bootstrap.min.css" />
    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/common.js"></script>
    <style type="text/css">
    	.ff{height: 30px;}
    	.show-table{width: 48%;}
    	.firstArea{margin-right: 4%;}
    	ul,ol{margin: 0;}
    	#person-list tr td:first-child{cursor: pointer;}.form-control{margin-left: 15px;}
    </style>
</head>

<body>
    <header>
        <div class="header clearfix contents">
            <img src="../images/logo_content.png" />
            <li class="dropdown fr">
                <span class="username"></span>
                <a href="javascript:;" id="logout">退出</a>
            </li>
        </div>
    </header>
    <div id="menuTree" class="nav-menu"></div>
    <script type="text/javascript">
		 getMenu("859216934347063296","928526596680454144");
		 logout();
	</script>
    <div class="right-cont" id="area-cont">
        <div class="table-cont">
            <div class="right-nav clearfix">
            	<div class="fl clearfix">
	                <span class="fl">当前位置:</span>
	                <ol class="breadcrumb fl">
	                    <li>ISP管理中心</li>
	                    <li class="active">区域管理</li>
	                </ol>
                </div>
                <a href="#" class="add-btn inline-block fr">添加</a>
            </div>
            <div class="clearfix">
            <div class="show-table fl firstArea">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>大区名称</th>
                            <th>大区编码</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="person-list">
                        <template v-for="list in areaList">
                            <tr>
                                <td @click="changeArea(list.id)" ref="firstId">{{list.name}}</td>
                                <td>{{list.code}}</td>
                                <td>{{list.status.name}}</td>
                                <td><a href="javascript:;" class="alert-btn" @click="alertData(list.id,list.type.code,list.type.name,list.name,list.code,list.status.code,list.firstRegion,list.firstRegionName,list.secondRegion,list.secondRegionName,list.address)">修改</a></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div class="show-table fl">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>区域名称</th>
                            <th>区域编码</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                        <template v-for="list in secondAreaList">
                    <tbody id="person-list">
                            <tr>
                                <td>{{list.name}}</td>
                                <td>{{list.code}}</td>
                                <td>{{list.status.name}}</td>
                                <td><a href="javascript:;" class="alert-btn" @click="alertData(list.id,list.type.code,list.type.name,list.name,list.code,list.status.code,list.firstRegion,list.firstRegionName,list.secondRegion,list.secondRegionName,list.address)">修改</a></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <!-- 修改区域 -->
        <div class="alert-cont">
            <div class="right-nav clearfix">
                <span class="fl">当前位置:</span>
                <ol class="breadcrumb fl">
                    <li>首页</li>
                    <li>基础管理</li>
                    <li>区域管理</li>
                    <li class="active">修改区域</li>
                </ol>
            </div>
            <form class="form-horizontal clearfix" role="form">
                <br>
                <div class="form-group">
                    <span class="col-sm-2 control-label">所属类型:</span>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" readonly="readonly" v-model="addareaName" />
                    </div>
                </div>
                <template v-if="addareaId=='0'">
                    <div class="fir-sec-area">
                        <div class="form-group">
                            <span for="name" class="col-sm-2 control-label">大区名称:</span>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入区域名称" v-model="alertparam.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <span for="name" class="col-sm-2 control-label">大区编码:</span>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入区域编码" v-model="alertparam.code">
                            </div>
                        </div>
                    </div>
                </template>
                <!-- 二级区域 -->
                <div class="form-group bigarea addbigarea" style="display: none">
                    <span class="col-sm-2 control-label">所属大区:</span>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="请选择大区" v-model="alertparam.firstRegionName" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addbigarea">
                                    <li data-id="item.id" @click="searchSecArea(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <template v-if="addareaId=='1'">
                    <div class="fir-sec-area">
                        <div class="form-group">
                            <span for="name" class="col-sm-2 control-label">区域名称:</span>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入区域名称" v-model="alertparam.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <span for="name" class="col-sm-2 control-label">区域编码:</span>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入区域编码" v-model="alertparam.code">
                            </div>
                        </div>
                    </div>
                </template>
                <!-- 二级区域 -->
                <!-- 门店或办公室 -->
                <div class="form-group addSecbigarea addbigarea" style="display: none">
                    <span class="col-sm-2 control-label">所属大区:</span>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="请选择大区" v-model="alertparam.firstRegionName" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addbigarea">
                                    <li data-id="item.id" @click="searchSecArea(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group shop-cont" style="display: none">
                    <span for="name" class="col-sm-2 control-label">所属区域:</span>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="请选择区域" v-model="alertparam.secondRegionName" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in secondarea">
                                    <li @click="selectSecArea(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="shop-cont" style="display: none">
                    <div class="form-group">
                        <span for="name" class="col-sm-2 control-label">门店名称:</span>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入门店名称" v-model="alertparam.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <span for="name" class="col-sm-2 control-label">门店编码:</span>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入门店编码" v-model="alertparam.code">
                        </div>
                    </div>
                    <div class="form-group">
                        <span for="name" class="col-sm-2 control-label">门店地址:</span>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入门店地址" v-model="alertparam.address">
                        </div>
                    </div>
                </div>
                <div class="form-group status-select">
                    <span class="col-sm-2 control-label">角色状态:</span>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="actived" class="pa ui-radio status active" v-model="alertstatus" /><span class="field-label">有效</span>
                    </label>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="inactive" class="pa ui-radio status inactive" v-model="alertstatus" /><span class="field-label">禁用</span>
                    </label>
                </div>
                <div class="btn-groups fl">
                    <a href="javascript:;" class="submit-btn inline-block" @click="submitAlert()">提交</a>
                    <a href="javascript:;" class="back-btn inline-block">返回</a>
                </div>
            </form>
        </div>
        <!-- 添加区域 -->
        <div class="add-cont">
            <div class="right-nav clearfix">
                <span class="fl">当前位置:</span>
                <ol class="breadcrumb fl">
                    <li>首页</li>
                    <li>基础管理</li>
                    <li>区域管理</li>
                    <li class="active">添加区域</li>
                </ol>
            </div>
            <form class="form-horizontal clearfix" role="form">
                <br>
                <div class="form-group">
                    <span class="col-sm-2 control-label">添加类型:</span>
                    <div class="down-menu pr fl">
                        <input class="select-inp addtype" type="text" readonly="readonly" v-model="addareaName" placeholder="请选择区域类型" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addareaType">
                                    <li @click="chooseAreaName(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 添加一级 -->
                <template v-if="addareaId=='0'">
                    <div class="fir-sec-area">
                        <div class="form-group">
                            <span for="name" class="col-sm-2 control-label">大区名称:</span>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入区域名称" v-model="addfirstRegionName">
                            </div>
                        </div>
                        <div class="form-group">
                            <span for="name" class="col-sm-2 control-label">大区编码:</span>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入区域编码" v-model="addfirstRegionId">
                            </div>
                        </div>
                    </div>
                </template>
                <!-- 添加二级区域 -->
                <div class="form-group bigarea addbigarea" style="display: none">
                    <span class="col-sm-2 control-label">所属大区:</span>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="请选择大区" v-model="addsecfirstRegion" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addbigarea">
                                    <li data-id="item.id" @click="searchSecArea(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <template v-if="addareaId=='1'">
                    <div class="fir-sec-area">
                        <div class="form-group">
                            <span for="name" class="col-sm-2 control-label">区域名称:</span>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入区域名称" v-model="addsecondRegionName">
                            </div>
                        </div>
                        <div class="form-group">
                            <span for="name" class="col-sm-2 control-label">区域编码:</span>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入区域编码" v-model="addsecondRegionId">
                            </div>
                        </div>
                    </div>
                </template>
                <div class="form-group status-select">
                    <span class="col-sm-2 control-label">角色状态:</span>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="ACTIVED" class="pa ui-radio status" v-model="addparam.status" /><span class="field-label">有效</span>
                    </label>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="INACTIVE" class="pa ui-radio status" v-model="addparam.status" /><span class="field-label">禁用</span>
                    </label>
                </div>
                <div class="btn-groups fl">
                    <a href="javascript:;" class="submit-btn inline-block" @click="submitAdd()">提交</a>
                    <a href="javascript:;" class="back-btn inline-block">返回</a>
                </div>
            </form>
        </div>
    </div>
    <!-- 消息提示 -->
    <div class="pop" style="display: none;">
        <div class="pop-cont"></div>
    </div>
    <script src="../js/vue.min.js"></script>
    <script scr="../js/bootstrap.min.js"></script>
    <script src="areaList.js"></script>
</body>

</html>
