<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>门店管理</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/common.css" />
	<link rel="stylesheet" href="../css/inter-exter-management.css">
    <link rel="stylesheet" href="../styl/bootstrap.min.css"/>
    <link rel="stylesheet" href="area-manage.css">
    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/zTree_v3/js/jquery.ztree.core.js"></script>
    <script src="../js/bootstrap-multiselect.js"></script>
    <style type="text/css">
    	ul,ol{margin: 0;}
    	#person-list tr td:first-child{cursor: pointer;}.form-control{margin-left: 15px;}
    	#area-cont{min-width: 1130px;}
    	#search{background: #42a6d4;color: #fff;border: none;}
    	.page-cont .page-mesg{right: auto;left: 0;}
    </style>
</head>

<body>
    <header>
        <div class="header clearfix contents">
            <img src="../images/logo_content.png" />
            <li class="dropdown fr">
                <span class="username"></span>
                <a href="javascript:;" id="logout">退出</a>
            </li>
        </div>
    </header>
    <div id="menuTree" class="nav-menu"></div>
    <script type="text/javascript">
		 getMenu("859216934347063296","928526596680454145");
		 logout()
	</script>
    <div class="right-cont" id="area-cont">
        <div class="table-cont">
            <div class="right-nav clearfix">
                <span class="fl">当前位置:</span>
                <ol class="breadcrumb fl">
                    <li>基础信息管理</li>
                    <li class="active">门店管理</li>
                </ol>
                <a href="#" class="add-btn inline-block fr">添加</a>
            </div>
            <div class="time">
                <input type="hidden" id="starttime" />
                <input type="hidden" id="endtime" />
            </div>
            <div class="show-table">
            	<div class="formsSearch areaform">
            		<form class="clearfix" action="javasctipt:void(0)" id="searchFrom">
                		<div class="fr right">
                			<button id="search">搜索</button>
                		</div>
                		<div class="fl left clearfix" >
	                			<div class="label-group clearfix fl">
		                			<label class="form-label">所属区域</label>
					                <div class="fr group-sel">
			                			<select name="secondRegionId" class="" id="firstAreaVal" v-model="queryparam.parentId" value="">
			                				<option value="">请选择区域</option>
			                				<option v-for="a in searchAreaList" :value="a.id">{{a.name}}</option>
			                			</select>
			                			<!--<select id="example-single">
										    <option value="1">Option 1</option>
										    <option value="2">Option 2</option>
										    <option value="3">Option 3</option>
										    <option value="4">Option 4</option>
										    <option value="5">Option 5</option>
										    <option value="6">Option 6</option>
										</select>-->
		                			</div>
								</div>
	                			<div class="label-group clearfix fl">
		                			<label class="form-label fl">门店编码</label>
		                			<input type="text" name="userJobNum" id="" value="" class="fr" placeholder="请输入门店编码" v-model="queryparam.code"/>
								</div>
	                			<div class="label-group clearfix fl">
		                			<label class="form-label fl">名称</label>
		                			<input type="text" name="userName" id="" value="" class="fr" placeholder="请输入门店名称" v-model="queryparam.name"/>
								</div>
	                			<div class="label-group clearfix fl">
		                			<label class="form-label fl">状态</label>
		                			<select name="status" class="fr" id="eventVal" v-model="queryparam.status">
		                				<option value="">请选择</option>
		                				<option value="INACTIVE">无效</option>
		                				<option value="ACTIVED">激活/正常</option>
		                				<option value="LOCKED">锁定</option>
		                			</select>
								</div>
                		</div>
                	</form>
               </div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>区域</th>
                            <th>名称</th>
                            <th>门店编码</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="person-list">
                        <template v-for="list in areaList">
                            <tr>
                                <td>{{list.firstRegionName}}-{{list.secondRegionName}}</td>
                                <td>{{list.name}}</td>
                                <td>{{list.code}}</td>
                                <td>{{list.status.name}}</td>
                                <td><a href="javascript:;" class="alert-btn" @click="alertData(list.id,list.type.code,list.type.name,list.name,list.code,list.status.code,list.firstRegion,list.firstRegionName,list.secondRegion,list.secondRegionName,list.address)">修改</a></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <template v-if="pagenum!=null&&totalpage!=null">
                    <div class="page-cont pr">
                        <div class="page-mesg pa"><span>第{{pagenum}}页</span>,<span>共{{totalpage}}页</span><span>(每页10条)</span>
                        </div>
                        <div id="pageNumber"></div>
                    </div>
                </template>
            </div>
        </div>
        <!-- 修改区域 -->
        <div class="alert-cont">
            <div class="right-nav clearfix">
                <span class="fl">当前位置:</span>
                <ol class="breadcrumb fl">
                    <li>首页</li>
                    <li>基础管理</li>
                    <li>区域管理</li>
                    <li class="active">修改区域</li>
                </ol>
            </div>
            <form class="form-horizontal clearfix" role="form">
                <br>
                <!-- 门店或办公室 -->
                <div class="form-group addSecbigarea addbigarea">
                    <span class="col-sm-2 control-label">所属大区:</span>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="请选择大区" v-model="alertparam.firstRegionName" id="eee"/>
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addbigarea">
                                    <li data-id="item.id" @click="searchSecArea(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group shop-cont" style="display: none">
                    <span for="name" class="col-sm-2 control-label">所属区域:</span>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="请选择区域" v-model="alertparam.secondRegionName" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in secondarea">
                                    <li @click="selectSecArea(item.id,item.name)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="shop-cont" style="display: none">
                    <div class="form-group">
                        <span for="name" class="col-sm-2 control-label">门店名称:</span>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入门店名称" v-model="alertparam.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <span for="name" class="col-sm-2 control-label">门店编码:</span>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入门店编码" v-model="alertparam.code">
                        </div>
                    </div>
                    <div class="form-group">
                        <span for="name" class="col-sm-2 control-label">门店地址:</span>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入门店地址" v-model="alertparam.address">
                        </div>
                    </div>
                </div>
                <div class="form-group status-select">
                    <span class="col-sm-2 control-label">角色状态:</span>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="actived" class="pa ui-radio status active" v-model="alertstatus" /><span class="field-label">有效</span>
                    </label>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="inactive" class="pa ui-radio status inactive" v-model="alertstatus" /><span class="field-label">禁用</span>
                    </label>
                </div>
                <div class="btn-groups fl">
                    <a href="javascript:;" class="submit-btn inline-block" @click="submitAlert()">提交</a>
                    <a href="javascript:;" class="back-btn inline-block">返回</a>
                </div>
            </form>
        </div>
        <!-- 添加区域 -->
        <div class="add-cont">
            <div class="right-nav clearfix">
                <span class="fl">当前位置:</span>
                <ol class="breadcrumb fl">
                    <li>首页</li>
                    <li>基础管理</li>
                    <li>区域管理</li>
                    <li class="active">添加区域</li>
                </ol>
            </div>
            <form class="form-horizontal clearfix" role="form">
                <br>
                <!-- 门店或办公室 -->
                <div class="form-group addSecbigarea addbigarea">
                    <span class="col-sm-2 control-label">所属大区:</span>
                    <div class="down-menu pr fl">
                        <input class="select-inp" type="text" readonly="readonly" placeholder="请选择大区" v-model="addshopfirstRegion" />
                        <i class="btn-down btn-spr i-down"></i>
                        <div class="menu sup-type">
                            <ul>
                                <template v-for="item in addbigarea">
                                    <li data-id="item.id" @click="searchSecArea(item.id,item.name,item.code)">{{item.name}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group shop-cont">
                    <span for="name" class="col-sm-2 control-label">所属区域:</span>
                    <div class="shop-menu pr fl">
                        <input class="shop-inp" type="text" readonly="readonly" placeholder="请选择区域" v-model="secondRegion" />
                        <i class="shopdowm"></i>
                        <div class="shopdownmenu">
                            <ul>
                                <template v-for="item in secondarea">
                                    <li @click="selectSecArea(item.id,item.name)">{{item.name}}</li>
                                </template>
                                <template v-if="secondarea==''">
                                    <li>无</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="shop-detail">
                    <div class="form-group">
                        <span for="name" class="col-sm-2 control-label">门店名称:</span>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入门店名称" v-model="shopname">
                        </div>
                    </div>
                    <div class="form-group">
                        <span for="name" class="col-sm-2 control-label">门店编码:</span>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入门店编码" v-model="shopid">
                        </div>
                    </div>
                    <div class="form-group">
                        <span for="name" class="col-sm-2 control-label">门店地址:</span>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入门店地址" v-model="shopaddress">
                        </div>
                    </div>
                </div>
                <div class="form-group status-select">
                    <span class="col-sm-2 control-label">角色状态:</span>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="ACTIVED" class="pa ui-radio status" v-model="addparam.status" /><span class="field-label">有效</span>
                    </label>
                    <label class="radio-group pr">
                        <input type="radio" name="supplier-type" value="INACTIVE" class="pa ui-radio status" v-model="addparam.status" /><span class="field-label">禁用</span>
                    </label>
                </div>
                <div class="btn-groups fl">
                    <a href="javascript:;" class="submit-btn inline-block" @click="submitAdd()">提交</a>
                    <a href="javascript:;" class="back-btn inline-block">返回</a>
                </div>
            </form>
        </div>
    </div>
    <!-- 消息提示 -->
    <div class="pop" style="display: none;">
        <div class="pop-cont"></div>
    </div>
    <script src="../js/vue.min.js"></script>
    <script scr="../js/bootstrap.min.js"></script>
    <script src="../js/laypage.js"></script>
    <script src="store-manage.js"></script>
</body>

</html>
